 
    <p>Edit Pokemon</p>
    <form action="/pokemons/<%= data._id %>?_method=PUT" method="POST" >
        <label for="name">Pokemon Name</label><br>
        <input type="text" id="name" name="name" value="<%= data.name %> "><br>
        <label for="img">Image</label><br>
        <input type="text" id="img" name="img" value="<%= data.img %> ">
        <input type="submit" value="Edit">
    </form>
