
    <p>New Pokemon</p>
    <form action="/pokemons" method="POST">
        <label for="name">Pokemon Name</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="img">Image</label><br>
        <input type="text" id="img" name="img">
        <input type="submit" value="Create New">
      </form>
